/* Estilos de TODA la vista. */
.training-view {
  display: flex;
  justify-content: center;
  margin: 0px 5px;
}

.training-wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.trainings-container {
  width: 100%;
}

/* Separación entre entrenamientos */
.trainings-container li {
  margin: 10px 0px;
}
