/* Estilos comunes tanto para la versión desktop como mobile */
.header-menu {
  width: 100%;
}

.header-menu,
.dropdown {
  background-color: #f5e663;
}

.header-menu,
a {
  text-decoration: none;
  font-weight: bold;
  color: #032b43;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profile-icon {
  margin-right: 10px;
}

#profile-icon img {
  border-radius: 50%;
}

/* Estilos exclusivos para el menú en su versión desktop */
.important-links-container ul {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  gap: 1rem;
}

/* Aquí se maneja el menú de hamburguesa para dispositivos móviles.
  Si estamos en un dispositivo pequeñito, en vez de salir todos los links, saldrá
  la imagen de la hamburguesa y al hacer hover se despliegan todas las opciones */
/* Le tengo que dar un tamaño fijo porque si no al hacer los align/justify del flex el contenedor desaparece */
@media (max-width: 720px) {
  .important-links-container ul {
    gap: 0rem;
    flex-direction: column;
  }

  .burger-menu-mobile {
    background-image: url('./../../../assets/imgs/burger-icon.png');
    background-size: 50px;
    min-width: 30px;
    min-height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 15px;
  }

  .burger-menu-mobile a {
    display: none;
  }

  .burger-menu-mobile:hover,
  .burger-menu-mobile:hover a {
    background-image: none;
    display: block;
    padding: 10px;
  }

  /* Dropdown, animaciones y demás */
  .dropdown {
    display: flex;
    flex-direction: column;
    padding: 5px;
    position: absolute;
    transform: translateX(-6em);
  }

  .dropdown li {
    border-top: 1px solid #8d99ae;
  }

  .dropdown li:first-child {
    border-top: none;
  }

  .burger-menu-mobile:hover .dropdown {
    transform: translateX(-2.2em);
    transition: all 0.3s ease-in;
  }
}
