/* Estilo general para la el Entranmiento */
.training-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 3fr;
  gap: 0.5rem;

  min-width: 100%;
  background: linear-gradient(to right, #f5e663, #f0f099);
  padding: 8px;
  border-radius: 10px;
}

/* La información superior */
.upper-info {
  grid-column: span 2;
}

.upper-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upper-info p:nth-child(2) {
  color: rgb(71, 71, 71);
  font-weight: lighter;
  font-style: italic;
}

.training-card .colorful-tag {
  font-size: 1.1rem;
  transform: rotate(-20deg) translateY(-0.5em) translateX(-1em);
}

.colorful-tag.speed {
  background-color: rebeccapurple;
  border-color: darkslateblue;
}

.colorful-tag.resistance {
  background-color: rgb(150, 33, 33);
  border-color: darkred;
}

/* Información principal */
.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 16px;
}

.main-info p {
  font-size: 1.2rem;
  margin: 5px 0px 5px 5px;
}

/* Comentario al lateral derecho */
.training-comment {
  place-self: center;
  min-width: 100%;
  height: 100%;

  padding: 16px;

  background-color: rgb(252, 252, 252, 0.6);
  font-family: 'Roboto Condensed';
  color: #032b43;
  font-size: 1.2rem;
  font-style: italic;
  border: 1px solid rgb(54, 54, 54, 0.15);
  border-radius: 4px;
  resize: none;
}
